@import '_resets.css';

a{
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;
}

body{
    text-align: center;
    font-family: "Galada";
    font-weight: normal;
	font-style: normal;
	font-variant-ligatures: common-ligatures;
	font-kerning: normal;
	font-feature-settings: "kern" 1, "liga" 1, "pnum" 1;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:root {
    --white:  #FFE9DF;
    --lightb: #CD7B58;
    --brown:  #8D4B2F;
    --dark:  #412013;
}
h1{
    font-family: "Monoton";
    font-size: 90px;
    margin: 0;
}
h3{
    margin: 0;
    font-size: 48px;
}

/*sections*/
.section{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.text{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#milk, #movie, #buy{
    background-color: var(--lightb);
    color: var(--white)
}
#color, #title{
    background-color: var(--white);
    color: var(--dark);
}
#game{
    background-color: var(--brown);
    color: var(--white)
}

/*nav bar*/

nav{
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    color: var(--lightb);
    font-size: 1.5rem;
}
#navbar{
    min-width: 1000px;
    width: 100vw;
    position: relative;
}
ul{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100vw;
    padding-top: 25px;
    padding-left: 60px;
    padding-right: 60px;
 }
 #logo{
    max-width: 15vw;
}
#shop{
    color: var(--white);
}
a:hover{
    color: var(--white);
}
/*title*/

#title{
    height: 75vh;
    width: 100vw;
}
#title h1{
    padding-top: 340px;
}

/*milk chocolate*/

#milk{
    height: 200vh;
}
#mms{
    position: relative;
    max-width: 60vw;
    top: -300px;
}

/*colorful candy*/
#color{

}
#mmcolor{
    display: flex;
    position: absolute;
    min-height: 100vh;
}

/*movie snack*/

/*game night*/

#cards-main, #cards-white{
    max-width: 110vw;
    display: flex;
    align-items: center;
    position: absolute;
}

/*buy*/

/*javascript*/
