@import '_resets.css';
html {
    overflow:   scroll;
  }
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
  }
a{
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;
}

body{
    text-align: center;
    font-family: "Galada";
    font-weight: normal;
	font-style: normal;
	font-variant-ligatures: common-ligatures;
	font-kerning: normal;
	font-feature-settings: "kern" 1, "liga" 1, "pnum" 1;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:root {
    --white:  #FFE9DF;
    --lightb: #CD7B58;
    --brown:  #8D4B2F;
    --dark:  #412013;
}
h1{
    font-family: "Monoton";
    font-size: 90px;
    margin: 0;
    line-height: 100px;
}
h3{
    margin: 0;
    font-size: 48px;
    line-height: 55px;
}

/*nav bar*/

nav{
    top: 0;
    z-index: 2;
    width: 100%;
    color: var(--lightb);
    font-size: 1.5rem;
    background-color: var(--white);
    padding-bottom: 2rem;
}
#navbar{
    min-width: 1000px;
    width: 100vw;
    position: relative;
}
ul{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100vw;
    padding-top: 25px;
    padding-left: 60px;
    padding-right: 60px;
 }
 #logo{
    max-width: 15vw;
    min-width: 130px;
}
#shop{
    color: var(--white);
}
a:hover{
    color: var(--white);
}
/*title*/

#title{
    height: 40vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*sections*/
.section{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#milk, #movie, #buy{
    background-color: var(--lightb);
    color: var(--white)
}
#color, #title{
    background-color: var(--white);
    color: var(--dark);
}
#game{
    background-color: var(--brown);
    color: var(--white)
}

/*milk chocolate*/

#milk{
    height: 100vh;
}
#mms{
    position: relative;
    max-width: 630px;
    transform: translateY(-100%);
}

/*colorful candy*/
#color{
    background-image: url("mm-bg2-01.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}


/*movie snack*/
#movie-border{
    width: 100%;
    position: absolute;
}
#movie{
    background-image: url("movie-mm.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
/*game night*/
#cards{
    width: 1800px;
    transform: translateY(-35%);
}
.text-bottom{
    position: absolute;
    bottom: 3rem;
}

/*buy*/
#buy h1{
    padding: 1rem 4rem;
    border: var(--white) 3px solid;
}

